<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="first"> * <input type="text" v-model="last"> = {{result}}
    </div>

    <script src="./lib/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                first: 2,
                last: 3
            },
            //computed计算属性
            computed: {
                result() {
                    return +this.first * +this.last
                }
            }
        })
    </script>
</body>

</html>