<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">

        型号：<input type="text" v-model="newgoods.title"> 价格：
        <input type="text" v-model="newgoods.price">
        <!-- <button @click="handleReduce(index)">-</button> {{newgoods.number}} <button @click="handleAdd(index)">+</button> -->
        <button @click="handleAdds">添加</button>



        <div v-for="(item,index) in goods">
            <p>{{item.title}} </p>
            <p>
                价格：{{ item.price }}
                <button @click="handleReduce(index)">-</button> {{item.number}} <button @click="handleAdd(index)">+</button>
                <button @click="handleDele(index)">删除</button>
            </p>
        </div>
        <p>总价：{{result}}</p>
    </div>




    <script src="./lib/vue-2.6.10.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                goods: [{
                        title: "原装正品 苹果",
                        price: "8000",
                        number: "1"
                    }, {
                        title: "原装正品 华为",
                        price: "5000",
                        number: "1"
                    }

                ],
                newgoods: {
                    title: "",
                    price: "",
                    number: 1
                }
            },
            computed: {
                result() {
                    var price = 0;
                    this.goods.forEach(item => {
                        price += item.price * item.number;
                    })
                    return price;
                }
            },
            methods: {
                handleAdd(index) {
                    this.goods[index].number++
                },
                handleReduce(index) {
                    if (this.goods[index].number === 0) {
                        return
                    }
                    this.goods[index].number--
                },

                handleAdds() {
                    //拷贝一份新的商品数据
                    var obj = {...this.newgoods
                    };

                    //把新商品添加到列表
                    this.goods.push(obj);

                    //清空
                    this.newgoods = {
                        type: "",
                        price: ""
                    }
                },
                handleDele(index) {
                    var arr = [...this.goods];
                    arr.splice(index, 1);
                    // 要使用赋值方式
                    this.goods = arr;
                },
            }
        })
    </script>
</body>

</html>